body {
  background: url('../img/debut_light.png');
}

#main {
  margin-top: 20px;
}

#footer {
  margin-top: 20px;
  border: 1px solid #DDD;
  padding: 20px;
}

.team-kenbot {
  background: url('../img/kenbot.gif') no-repeat;
  text-indent: 70px;
  height: 80px;
  font-family: 'VT323';
  font-size: 500%;
}

.chart {
  padding: 20px;
  background: white;
}

.xchart .axis text {
  stroke: none;
  max-width: 50px;
}

.tools a{
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}

#colors_sketch{
    border: thin solid gray;
    /*width: 800px;*/
    /*height: 300px;*/
}

.ex-tooltip {
  position: absolute;
  background: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  -webkit-box-shadow: 0 1px 3px #000;
  -moz-box-shadow: 0 1px 3px #000;
  -ms-box-shadow: 0 1px 3px #000;
  -o-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
  border-collapse: separate;
  display: none;
}
