<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>KENBOT</title>
  
  {% assets "app_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  <script src="{{ url_for('static', filename='js/modernizr.foundation.js') }}"></script>

  {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}

    <footer class="row">
      <div class="team-kenbot">
        TEAM KENBOT
      </div>
    </footer>
    
    {% assets "app_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block js_scripts %}{% endblock %}
</body>
</html>
