{% extends "chart_base.html" %}

{% block head %}
    <script type="text/javascript">
        window.onload = function(){
            Kenbot = {
                r : Raphael("chart_holder"),
                fin : function () {
                        this.flag = Kenbot.r.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
                },
                fout : function () {
                    this.flag.animate({opacity: 0}, 300, function () {this.remove();});
                }
            };


        }

        function make_chart(){
            var axisy = [];
            var purchase_data = []
            var refinance_data = []
            for(var x=0; x<= 30; x=x+5){
                axisy.push(x);
            }

            $.get('/denial_rates_data/20500',

                function(data, textStatus, xhr){
                    $.each(data.result, function(index, value){
                        if(value['loan_purpose'] == 'Refinancing'){
                            refinance_data.push(value['denial_rate']);
                        } else {
                            purchase_data.push(value['denial_rate']);
                        }
                    });

                    Kenbot.r.barchart(10, 10, 300, 220, [purchase_data, refinance_data]).hover(Kenbot.fin, Kenbot.fout);
                }
            );

        }
    </script>
{% endblock %}

{% block body %}
<div class="row">
  <h1>A Chart</h1>
</div>

<div id="chart_holder"></div>

<button onclick="make_chart();">Rebuild</button>

{% endblock %}
