{% extends "base.html" %}

{% block title %}
{{ super() }} - {{ msa.name }}
{% endblock %}

{% block body %}
<h1>HMDA Report for {{ msa.name }}</h1>

<dl class="tabs">
  <dd><a href="#overview" class="active">Overview</a></dd>
  <dd><a href="#demographics">Demographics</a></dd>
  <!-- <dd><a href="#geography">Geography</a></dd> -->
  <!-- <dd><a href="#tables">Source Tables</a></dd> -->
</dl>

<ul class='tabs-content'>
  <li class="active" id="overviewTab">
    This is the overview.
  </li>
  
  <li id="demographicsTab">
    <h2>Denial Rates by Race</h2>
    <div class="chart" class="twelve columns">
      <svg id="race-chart"></svg>
    </div>

    <h2>Denial Rates by Income and Race</h2>
    <div class="chart" class="twelve columns">
      <svg id="income-chart"></svg>
    </div>

    <h2>HAL vs. Government-backed by income</h2>
    <div class="chart" class="twelve columns">
     <svg id="hal-income-chart"></svg>
    </div>

    <h2>HAL vs. Government-backed by race</h2>
    <div class="chart" class="twelve columns">
      <svg id="hal-race-chart"></svg>
    </div>

    <h2>Government-backed by race and loan purpose</h2>
    <div class="chart" class="twelve columns">
      <svg id="purpose-race-chart"></svg>
    </div>

    <h2>Government-backed by income and loan purpose</h2>
    <div class="chart" class="twelve columns">
      <svg id="purpose-income-chart"></svg>
    </div>
  </li>
</ul>
{% endblock body %}

{% block js_scripts %}
<script>
$(document).ready(function () {
  updateDenialRates({{ msa.cbsa_code }});
  updateDenialRatesByIncome({{ msa.cbsa_code }});    
  updateHalGovBackedByIncome({{ msa.cbsa_code }});
  updateHalGovBackedByRace({{ msa.cbsa_code }});
  updateGovBackedByRacePurpose({{ msa.cbsa_code }});
  updateGovBackedByIncomePurpose({{ msa.cbsa_code }});
});
</script>
{% endblock js_scripts %}
