{% extends "base.html" %}

{% block body %}
  <h1>Request a custom HMDA report</h1>

  <form action="" class="" id="report-request-form">
    <div class="row">
      <div class="three columns">
        <label class="right">Name</label>
      </div>
      <div class="four columns end">
        <input type="text">
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="right">Email</label>
      </div>
      <div class="four columns end">
        <input type="text">
      </div>
    </div>
    <div class="row">
      <div class="three columns">
        <label class="right">What information are you seeking? Describe your report request here:</label>
      </div>
      <div class="six columns end">
        <textarea cols="100" rows="20"></textarea>
      </div>
    </div>
    <div class="row">
      <div>
        <input type="submit" class="button" value="Submit Request" />
        <div id="chart_holder"></div>
      </div>
    </div>
  </form>
{% endblock body %}
